# Cache.
/.cache/

# Build artifacts
/dist/

# Dependencies
/node_modules/

# Plover: when run in portable mode from source.
/*.json
/*.rtf
/plover.cfg
/plover.log
/steno-notes-*.txt
/strokes.log

# Plover: build artifacts.
news_draft.md
notes.md

# VSCode
/.vscode/

# macOS
.DS_Store

# vim: ft=cfg
/package-lock.json
