# Cache.
/.cache/

# Build artifacts
/dist/

# Dependencies
/node_modules/
/web/node_modules/

# Web build artifacts
/web/dist/

# Plover: when run in portable mode from source.
/*.rtf
/plover.cfg
/plover.log
/steno-notes-*.txt
/strokes.log

# Plover: build artifacts.
news_draft.md
notes.md

# VSCode
/.vscode/

# macOS
.DS_Store

# Test dictionary files (SQLite)
my-json-dict
user-dict
python-dict
custom-python

# vim: ft=cfg
test.json
